@charset "utf-8";

/* CSS Document */

.rowheader {
    padding: 3.8% 0 0.5% 0;
    font-family: Raleway Heavy;
}

.floatright {
    float: right;
}

.price-table {
    /*clear:both;
	display:inline-block;
	padding:4% 0 40% 0;*/
    margin: auto;
    width: 45%;
    height: auto;
}

.top_padding {
    padding-top: 20px;
}

.notification {
    clear: left;
    font-size: 95%;
    font-size: 0.95vw;
}